.img-one {
    border-radius: 50%;
    background-color: green;
    padding: 5px;
}

.img-two {
    border-radius: 50%;
    background-color: red;
    padding: 5px;
    margin-left: 4px;
}

.carrousel {
    margin-top: 50px;
}